<div layout="vertical" layout-fill>

    <md-content>
        <header>
            <acme-navbar creation-date="main.creationDate"></acme-navbar>
        </header>
        <div class="input-message" layout aligh="center center">
            <md-input-container>
                <label>Send A Message</label>
                <input ng-model="user.title">
                <div class="post">
                    <md-button type="submit" ng-click="main.postMessage()">Post</md-button>
                </div>
            </md-input-container>

        </div>



    </md-content>

</div>